In [34]:
#Import all the necessary libraries

import pandas as pd  
import os                
from datetime import datetime
import time
import matplotlib.pyplot as plt
from math import sin, cos, tan
import matplotlib.dates as mdates
import pgeocode

In [35]:
#Load in all of the data files and combine them into a single DataFrame
# Directory where your files are located
directory = './Data/'
dfs = []

#loop through all the files in a data directory
for filename in os.listdir(directory):
    #ignore a file start with the name weekly, thats the mortageg rates data 
    if not filename.startswith("weekly"):
        #read file path 
        filepath = os.path.join(directory, filename)
        #read a file in a dataframe
        df = pd.read_csv(filepath, encoding='ISO-8859-1')
        #append the file in dictionary 
        dfs.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)    
combined_df.head(10)

,Unnamed: 0,MLS #,Class,Property Type,Address,City,Zip,Neighborhood,Subdivision,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price
0,NaN,LP649830,RESIDENTIAL,Single Family Residence,2263 Shaw Rd Extension,Fayetteville,28311,NaN,NaN,3.0,1.0,0,NaN,1977.0,2/9/2021,3/11/2021,9.0,"$79,900",$79
1,NaN,2354950,RESIDENTIAL,Single Family Residence,97 Allie Clay Road,Roxboro,27573,NaN,Not in a Subdivision,3.0,1.0,"1,118",.51-.75 Acres,1934.0,11/22/2020,1/12/2021,13.0,"$40,000","$15,000"
2,NaN,LP630668,RESIDENTIAL,Manufactured,146 Ralph Hunt Boulevard,Orrum,28369,NaN,NaN,3.0,2.0,0,NaN,1995.0,4/21/2020,2/1/2021,254.0,"$36,000","$17,000"
3,NaN,LP630661,RESIDENTIAL,Manufactured,163 Ralph Hunt Boulevard,Orrum,28369,NaN,NaN,3.0,2.0,0,NaN,1998.0,4/21/2020,2/1/2021,254.0,"$29,000","$17,000"
4,NaN,LP624150,RESIDENTIAL,Single Family Residence,405 Mcleod Road,Red Springs,28377,NaN,NaN,2.0,1.0,0,NaN,1940.0,1/7/2020,1/25/2021,357.0,"$22,000","$18,500"
5,NaN,2365371,RESIDENTIAL,Manufactured,921 West Street,Smithfield,27577,NaN,Not in a Subdivision,3.0,1.0,650,0-.25 Acres,1972.0,2/5/2021,3/26/2021,1.0,"$20,000","$20,000"
6,NaN,LP630389,RESIDENTIAL,Manufactured,555 Ralph Hunt Boulevard,Orrum,28369,NaN,NaN,3.0,2.0,0,NaN,1998.0,4/14/2020,2/1/2021,261.0,"$38,500","$20,000"
7,NaN,LP630671,RESIDENTIAL,Manufactured,82 Ralph Hunt Boulevard,Orrum,28369,NaN,NaN,3.0,2.0,0,NaN,1997.0,4/21/2020,2/1/2021,254.0,"$39,000","$20,000"
8,NaN,LP648914,RESIDENTIAL,Single Family Residence,216 Register Street,Sanford,27330,NaN,Hillcrest,0.0,0.0,0,NaN,1930.0,1/21/2021,2/10/2021,12.0,"$34,000","$20,000"
9,NaN,116488,RESIDENTIAL,Single Family Residence,413 NE Market Street,Reidsville,27320,NaN,NaN,2.0,2.0,0,.51-.75 Acres,1900.0,2/11/2021,3/26/2021,25.0,"$31,500","$22,000"

In [36]:
#Checking how many values are null per column
combined_df.isnull().sum()

Unnamed: 0                168797
MLS #                          0
Class                          0
Property Type                  0
Address                        0
City                           0
Zip                           42
Neighborhood              162151
Subdivision                17877
Bedrooms                      18
Total Baths                    0
Total Living Area SqFt         0
Acres                      10856
Year Built                    17
List Date                      0
Closing Date                   0
Days On Market                 0
List Price                     0
Sold Price                     0
dtype: int64

In [37]:
#Checking how many values are null per column
combined_df.describe

<bound method NDFrame.describe of        Unnamed: 0     MLS #        Class            Property Type  \
0             NaN  LP649830  RESIDENTIAL  Single Family Residence
1             NaN   2354950  RESIDENTIAL  Single Family Residence
2             NaN  LP630668  RESIDENTIAL             Manufactured
3             NaN  LP630661  RESIDENTIAL             Manufactured
4             NaN  LP624150  RESIDENTIAL  Single Family Residence
...           ...       ...          ...                      ...
168792        NaN   2473018  RESIDENTIAL  Single Family Residence
168793        NaN  10003230  RESIDENTIAL  Single Family Residence
168794        NaN   2490937  RESIDENTIAL  Single Family Residence
168795        NaN  10029216  RESIDENTIAL  Single Family Residence
168796        NaN  10009864  RESIDENTIAL  Single Family Residence

                         Address          City    Zip Neighborhood  \
0         2263 Shaw Rd Extension  Fayetteville  28311          NaN
1             97 Allie Clay Road       Roxboro  27573          NaN
2       146 Ralph Hunt Boulevard         Orrum  28369          NaN
3       163 Ralph Hunt Boulevard         Orrum  28369          NaN
4                405 Mcleod Road   Red Springs  28377          NaN
...                          ...           ...    ...          ...
168792       250 Blue Violet Way        Durham  27713          NaN
168793   1711 Hunting Ridge Road       Raleigh  27615          NaN
168794  4821 Parker Meadow Drive       Raleigh  27614          NaN
168795       702 Old School Road   Chapel Hill  27516          NaN
168796      100 Wall Creek Drive    Rolesville  27571          NaN

                  Subdivision  Bedrooms  Total Baths Total Living Area SqFt  \
0                         NaN       3.0          1.0                      0
1        Not in a Subdivision       3.0          1.0                  1,118
2                         NaN       3.0          2.0                      0
3                         NaN       3.0          2.0                      0
4                         NaN       2.0          1.0                      0
...                       ...       ...          ...                    ...
168792  The Hills of Rosemont       5.0          9.0                 10,850
168793            North Ridge       4.0          6.0                  5,951
168794   Shadow Creek Estates       6.0         10.0                  8,074
168795   Not in a Subdivision       5.0          8.0                  6,852
168796             Wall Creek       5.0          3.0                  2,981

                Acres  Year Built   List Date Closing Date  Days On Market  \
0                 NaN      1977.0    2/9/2021    3/11/2021             9.0
1       .51-.75 Acres      1934.0  11/22/2020    1/12/2021            13.0
2                 NaN      1995.0   4/21/2020     2/1/2021           254.0
3                 NaN      1998.0   4/21/2020     2/1/2021           254.0
4                 NaN      1940.0    1/7/2020    1/25/2021           357.0
...               ...         ...         ...          ...             ...
168792   6-10.9 Acres      2008.0    9/8/2022     5/1/2024           587.0
168793  .51-.75 Acres      2023.0  12/22/2023    4/11/2024             0.0
168794    1-2.9 Acres      2023.0   1/18/2023     5/3/2024             0.0
168795      11+ Acres      2016.0   5/14/2024    5/14/2024             0.0
168796   .26-.5 Acres      1999.0    2/3/2024    6/14/2024           102.0

        List Price  Sold Price
0          $79,900         $79
1          $40,000     $15,000
2          $36,000     $17,000
3          $29,000     $17,000
4          $22,000     $18,500
...            ...         ...
168792  $4,995,000  $4,415,000
168793  $5,500,000  $5,000,000
168794  $5,121,787  $5,121,787
168795  $5,750,000  $5,750,000
168796    $669,000  $6,395,000

[168797 rows x 19 columns]>

In [38]:
#Checking df Info
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168797 entries, 0 to 168796
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              0 non-null       object
 1   MLS #                   168797 non-null  object
 2   Class                   168797 non-null  object
 3   Property Type           168797 non-null  object
 4   Address                 168797 non-null  object
 5   City                    168797 non-null  object
 6   Zip                     168755 non-null  object
 7   Neighborhood            6646 non-null    object
 8   Subdivision             150920 non-null  object
 9   Bedrooms                168779 non-null  float64
 10  Total Baths             168797 non-null  float64
 11  Total Living Area SqFt  168797 non-null  object
 12  Acres                   157941 non-null  object
 13  Year Built              168780 non-null  float64
 14  List Date               168797 non-null  object
 15  Closing Date            168797 non-null  object
 16  Days On Market          168797 non-null  float64
 17  List Price              168797 non-null  object
 18  Sold Price              168797 non-null  object
dtypes: float64(4), object(15)
memory usage: 24.5+ MB

In [39]:
combined_df.columns

Index(['Unnamed: 0', 'MLS #', 'Class', 'Property Type', 'Address', 'City',
       'Zip', 'Neighborhood', 'Subdivision', 'Bedrooms', 'Total Baths',
       'Total Living Area SqFt', 'Acres', 'Year Built', 'List Date',
       'Closing Date', 'Days On Market', 'List Price', 'Sold Price'],
      dtype='object')

In [40]:
combined_df.value_counts()

Series([], Name: count, dtype: int64)

In [41]:
combined_df['Acres'].unique()

array([nan, '.51-.75 Acres', '0-.25 Acres', '.26-.5 Acres', '1-2.9 Acres',
       '.76-.99 Acres', '3-5.9 Acres', '6-10.9 Acres', '11+ Acres'],
      dtype=object)

In [42]:
# Drop the 'Neighborhood' column
combined_df = combined_df.drop('Neighborhood', axis=1)

# Drop the 'Subdivision' column
combined_df = combined_df.drop('Subdivision', axis=1)

# Drop the 'Unnamed: 0' column
combined_df = combined_df.drop('Unnamed: 0', axis=1)

combined_df.isnull().sum()

MLS #                         0
Class                         0
Property Type                 0
Address                       0
City                          0
Zip                          42
Bedrooms                     18
Total Baths                   0
Total Living Area SqFt        0
Acres                     10856
Year Built                   17
List Date                     0
Closing Date                  0
Days On Market                0
List Price                    0
Sold Price                    0
dtype: int64

In [43]:
#Drop the rows with missing values
combined_df.dropna(inplace=True)

combined_df

,MLS #,Class,Property Type,Address,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price
1,2354950,RESIDENTIAL,Single Family Residence,97 Allie Clay Road,Roxboro,27573,3.0,1.0,"1,118",.51-.75 Acres,1934.0,11/22/2020,1/12/2021,13.0,"$40,000","$15,000"
5,2365371,RESIDENTIAL,Manufactured,921 West Street,Smithfield,27577,3.0,1.0,650,0-.25 Acres,1972.0,2/5/2021,3/26/2021,1.0,"$20,000","$20,000"
9,116488,RESIDENTIAL,Single Family Residence,413 NE Market Street,Reidsville,27320,2.0,2.0,0,.51-.75 Acres,1900.0,2/11/2021,3/26/2021,25.0,"$31,500","$22,000"
11,2355534,RESIDENTIAL,Single Family Residence,710 Water Street,Henderson,27536,2.0,1.0,"1,012",0-.25 Acres,1984.0,11/29/2020,1/15/2021,17.0,"$40,000","$24,000"
12,2360306,RESIDENTIAL,Single Family Residence,1918 Powell Street,Fayetteville,28306,2.0,1.0,859,0-.25 Acres,1940.0,1/6/2021,1/22/2021,5.0,"$25,000","$24,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168792,2473018,RESIDENTIAL,Single Family Residence,250 Blue Violet Way,Durham,27713,5.0,9.0,"10,850",6-10.9 Acres,2008.0,9/8/2022,5/1/2024,587.0,"$4,995,000","$4,415,000"
168793,10003230,RESIDENTIAL,Single Family Residence,1711 Hunting Ridge Road,Raleigh,27615,4.0,6.0,"5,951",.51-.75 Acres,2023.0,12/22/2023,4/11/2024,0.0,"$5,500,000","$5,000,000"
168794,2490937,RESIDENTIAL,Single Family Residence,4821 Parker Meadow Drive,Raleigh,27614,6.0,10.0,"8,074",1-2.9 Acres,2023.0,1/18/2023,5/3/2024,0.0,"$5,121,787","$5,121,787"
168795,10029216,RESIDENTIAL,Single Family Residence,702 Old School Road,Chapel Hill,27516,5.0,8.0,"6,852",11+ Acres,2016.0,5/14/2024,5/14/2024,0.0,"$5,750,000","$5,750,000"
168796,10009864,RESIDENTIAL,Single Family Residence,100 Wall Creek Drive,Rolesville,27571,5.0,3.0,"2,981",.26-.5 Acres,1999.0,2/3/2024,6/14/2024,102.0,"$669,000","$6,395,000"

In [44]:
# Replace float Acres values with simplified INT values in the 'Acres' column
combined_df['Acres'] = combined_df['Acres'].replace('0-.25 Acres', 1)
combined_df['Acres'] = combined_df['Acres'].replace('.26-.5 Acres', 2)
combined_df['Acres'] = combined_df['Acres'].replace('.51-.75 Acres', 3)
combined_df['Acres'] = combined_df['Acres'].replace('.76-.99 Acres', 4)
combined_df['Acres'] = combined_df['Acres'].replace('1-2.9 Acres', 5)
combined_df['Acres'] = combined_df['Acres'].replace('3-5.9 Acres', 6)
combined_df['Acres'] = combined_df['Acres'].replace('6-10.9 Acres', 7)
combined_df['Acres'] = combined_df['Acres'].replace('11+ Acres', 8)

#Convert the Acres column to an integer
combined_df['Acres'] = combined_df['Acres'].astype(int)

combined_df['Acres'].unique()

array([3, 1, 2, 5, 4, 6, 7, 8])

In [45]:
#Convert the Year Build column to an integer
combined_df['Year Built'] = combined_df['Year Built'].astype(int)

In [46]:
#Covert Zip to a string so we can slice it
combined_df['Zip'] = combined_df['Zip'].astype(str)

# Slice the 'Zip' column to just the first 5 characters
combined_df['Zip'] = combined_df['Zip'].str.slice(0, 5)

#Convert the Zip column to an integer
combined_df['Zip'] = combined_df['Zip'].astype(int)

#combined_df.isnull().sum()
#combined_df['Zip'].unique()

In [47]:
# Convert the 'List Date' and 'Closing Date' columns to datetime
combined_df['List Date'] = pd.to_datetime(combined_df['List Date'])
combined_df['Closing Date'] = pd.to_datetime(combined_df['Closing Date'])

# Calculate the number of days between 'List Date' and 'Closing Date'
combined_df['Days Between'] = (combined_df['Closing Date'] - combined_df['List Date']).dt.days

combined_df

,MLS #,Class,Property Type,Address,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price,Days Between
1,2354950,RESIDENTIAL,Single Family Residence,97 Allie Clay Road,Roxboro,27573,3.0,1.0,"1,118",3,1934,2020-11-22,2021-01-12,13.0,"$40,000","$15,000",51
5,2365371,RESIDENTIAL,Manufactured,921 West Street,Smithfield,27577,3.0,1.0,650,1,1972,2021-02-05,2021-03-26,1.0,"$20,000","$20,000",49
9,116488,RESIDENTIAL,Single Family Residence,413 NE Market Street,Reidsville,27320,2.0,2.0,0,3,1900,2021-02-11,2021-03-26,25.0,"$31,500","$22,000",43
11,2355534,RESIDENTIAL,Single Family Residence,710 Water Street,Henderson,27536,2.0,1.0,"1,012",1,1984,2020-11-29,2021-01-15,17.0,"$40,000","$24,000",47
12,2360306,RESIDENTIAL,Single Family Residence,1918 Powell Street,Fayetteville,28306,2.0,1.0,859,1,1940,2021-01-06,2021-01-22,5.0,"$25,000","$24,000",16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168792,2473018,RESIDENTIAL,Single Family Residence,250 Blue Violet Way,Durham,27713,5.0,9.0,"10,850",7,2008,2022-09-08,2024-05-01,587.0,"$4,995,000","$4,415,000",601
168793,10003230,RESIDENTIAL,Single Family Residence,1711 Hunting Ridge Road,Raleigh,27615,4.0,6.0,"5,951",3,2023,2023-12-22,2024-04-11,0.0,"$5,500,000","$5,000,000",111
168794,2490937,RESIDENTIAL,Single Family Residence,4821 Parker Meadow Drive,Raleigh,27614,6.0,10.0,"8,074",5,2023,2023-01-18,2024-05-03,0.0,"$5,121,787","$5,121,787",471
168795,10029216,RESIDENTIAL,Single Family Residence,702 Old School Road,Chapel Hill,27516,5.0,8.0,"6,852",8,2016,2024-05-14,2024-05-14,0.0,"$5,750,000","$5,750,000",0
168796,10009864,RESIDENTIAL,Single Family Residence,100 Wall Creek Drive,Rolesville,27571,5.0,3.0,"2,981",2,1999,2024-02-03,2024-06-14,102.0,"$669,000","$6,395,000",132

In [48]:
# Count the number of 0 values in the 'Total Living Area SqFt' column
num_zeros = combined_df['Total Living Area SqFt'].value_counts().get(0, 0)
print(num_zeros)

16387

C:\Users\David\AppData\Local\Temp\ipykernel_15460\4168313785.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  num_zeros = combined_df['Total Living Area SqFt'].value_counts().get(0, 0)

In [49]:
#Convert the Bedrooms column to an integer
combined_df['Bedrooms'] = combined_df['Bedrooms'].astype(int)
combined_df['Bedrooms'].unique()

array([ 3,  2,  4,  1,  5, 10,  6,  8,  7,  0, 11, 13, 14, 43,  9, 44])

In [50]:
#Convert the Total Baths column to an integer
combined_df['Total Baths'] = combined_df['Total Baths'].astype(int)
combined_df['Total Baths'].unique()

array([ 1,  2,  3,  4,  5,  7,  6,  0,  8,  9, 10, 12, 17, 32, 14, 23, 26,
       11, 34, 22])

In [51]:
#Define the number of zeros in the 'Total Baths' column
num_zeros = combined_df['Total Baths'].value_counts().get(0, 0)
print(num_zeros)

50

In [52]:
# Drop all the rows that have a 0 in the 'Total Baths' column
combined_df = combined_df[combined_df['Total Baths'] != 0]

#Recheck the number of zeros in the 'Total Baths' column
num_zeros = combined_df['Total Baths'].value_counts().get(0, 0)
print(num_zeros)

0

In [53]:
#Covert Sqft to a string so we can remove the commas
combined_df['Total Living Area SqFt'] = combined_df['Total Living Area SqFt'].astype(str)

# Remove commas from the 'Total Living Area SqFt' column
combined_df['Total Living Area SqFt'] = combined_df['Total Living Area SqFt'].str.replace(',', '')

# Convert the 'Total Living Area SqFt' column to an integer
combined_df['Total Living Area SqFt'] = combined_df['Total Living Area SqFt'].astype(int)

# Drop all the rows that have a 0 in the 'Total Baths' column
combined_df = combined_df[combined_df['Total Living Area SqFt'] != 0]

num_zeros = combined_df['Total Living Area SqFt'].value_counts().get(0, 0)
print(num_zeros)

C:\Users\David\AppData\Local\Temp\ipykernel_15460\4065630321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Total Living Area SqFt'] = combined_df['Total Living Area SqFt'].astype(str)
C:\Users\David\AppData\Local\Temp\ipykernel_15460\4065630321.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Total Living Area SqFt'] = combined_df['Total Living Area SqFt'].str.replace(',', '')
C:\Users\David\AppData\Local\Temp\ipykernel_15460\4065630321.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Total Living Area SqFt'] = combined_df['Total Living Area SqFt'].astype(int)

0

In [54]:
#Covert List Price and Sold Price to a string so we can remove the dollar sign and commas
combined_df['List Price'] = combined_df['List Price'].astype(str)
combined_df['Sold Price'] = combined_df['Sold Price'].astype(str)

# Remove dollar signs and commas from the 'List Price' and 'Sold Price' column
combined_df['List Price'] = combined_df['List Price'].replace('[$,]', '', regex=True)
combined_df['Sold Price'] = combined_df['Sold Price'].replace('[$,]', '', regex=True)

# Convert the 'List Price' and 'Sold Price' columns to integers
combined_df['List Price'] = combined_df['List Price'].astype(int)
combined_df['Sold Price'] = combined_df['Sold Price'].astype(int)

# Calculate the profit made on each house
combined_df['Profit'] = combined_df['Sold Price'] - combined_df['List Price']

combined_df.head(10)

,MLS #,Class,Property Type,Address,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price,Days Between,Profit
1,2354950,RESIDENTIAL,Single Family Residence,97 Allie Clay Road,Roxboro,27573,3,1,1118,3,1934,2020-11-22,2021-01-12,13.0,40000,15000,51,-25000
5,2365371,RESIDENTIAL,Manufactured,921 West Street,Smithfield,27577,3,1,650,1,1972,2021-02-05,2021-03-26,1.0,20000,20000,49,0
11,2355534,RESIDENTIAL,Single Family Residence,710 Water Street,Henderson,27536,2,1,1012,1,1984,2020-11-29,2021-01-15,17.0,40000,24000,47,-16000
12,2360306,RESIDENTIAL,Single Family Residence,1918 Powell Street,Fayetteville,28306,2,1,859,1,1940,2021-01-06,2021-01-22,5.0,25000,24000,16,-1000
14,2301316,RESIDENTIAL,Single Family Residence,505 Ivey Street,Henderson,27536,3,2,1100,3,1958,2020-02-11,2021-02-05,309.0,39000,25000,360,-14000
15,2300217,RESIDENTIAL,Single Family Residence,877 Lamb Street,Henderson,27536,3,1,1086,1,1950,2020-02-05,2021-02-05,315.0,35000,25000,366,-10000
16,2357601,RESIDENTIAL,Single Family Residence,310 Hall Avenue,Burlington,27217,3,1,1414,1,1919,2020-12-12,2021-02-25,8.0,29900,25000,75,-4900
17,2369657,RESIDENTIAL,Single Family Residence,504 SE New Bern Street,Wilson,27893,3,1,1395,1,1945,2021-03-02,2021-03-16,2.0,29900,25000,14,-4900
18,2355248,RESIDENTIAL,Single Family Residence,722 Eaton Street,Henderson,27536,4,3,1675,1,1955,2020-11-24,2021-01-06,30.0,38000,26000,43,-12000
19,2365135,RESIDENTIAL,Single Family Residence,324 Arch Street,Henderson,27536,3,1,1192,1,1952,2021-02-04,2021-02-25,12.0,29900,26000,21,-3900

In [55]:
# Count the number of negative numbers in the 'Profit' column
num_negative = combined_df[combined_df['Profit'] < 0].shape[0]
print(num_negative)

42272

In [56]:
# Count the number of numbers in the 'Profit' column that are less than -10000
num_negative = combined_df[combined_df['Profit'] < -100000].shape[0]
num_negative

672

In [57]:
combined_df.head(10)

,MLS #,Class,Property Type,Address,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price,Days Between,Profit
1,2354950,RESIDENTIAL,Single Family Residence,97 Allie Clay Road,Roxboro,27573,3,1,1118,3,1934,2020-11-22,2021-01-12,13.0,40000,15000,51,-25000
5,2365371,RESIDENTIAL,Manufactured,921 West Street,Smithfield,27577,3,1,650,1,1972,2021-02-05,2021-03-26,1.0,20000,20000,49,0
11,2355534,RESIDENTIAL,Single Family Residence,710 Water Street,Henderson,27536,2,1,1012,1,1984,2020-11-29,2021-01-15,17.0,40000,24000,47,-16000
12,2360306,RESIDENTIAL,Single Family Residence,1918 Powell Street,Fayetteville,28306,2,1,859,1,1940,2021-01-06,2021-01-22,5.0,25000,24000,16,-1000
14,2301316,RESIDENTIAL,Single Family Residence,505 Ivey Street,Henderson,27536,3,2,1100,3,1958,2020-02-11,2021-02-05,309.0,39000,25000,360,-14000
15,2300217,RESIDENTIAL,Single Family Residence,877 Lamb Street,Henderson,27536,3,1,1086,1,1950,2020-02-05,2021-02-05,315.0,35000,25000,366,-10000
16,2357601,RESIDENTIAL,Single Family Residence,310 Hall Avenue,Burlington,27217,3,1,1414,1,1919,2020-12-12,2021-02-25,8.0,29900,25000,75,-4900
17,2369657,RESIDENTIAL,Single Family Residence,504 SE New Bern Street,Wilson,27893,3,1,1395,1,1945,2021-03-02,2021-03-16,2.0,29900,25000,14,-4900
18,2355248,RESIDENTIAL,Single Family Residence,722 Eaton Street,Henderson,27536,4,3,1675,1,1955,2020-11-24,2021-01-06,30.0,38000,26000,43,-12000
19,2365135,RESIDENTIAL,Single Family Residence,324 Arch Street,Henderson,27536,3,1,1192,1,1952,2021-02-04,2021-02-25,12.0,29900,26000,21,-3900

In [58]:
# Sort the DataFrame by the 'Profit' column in descending order
combined_df=combined_df.sort_values('Profit', ascending=False)
combined_df.head(10)

,MLS #,Class,Property Type,Address,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price,Days Between,Profit
168796,10009864,RESIDENTIAL,Single Family Residence,100 Wall Creek Drive,Rolesville,27571,5,3,2981,2,1999,2024-02-03,2024-06-14,102.0,669000,6395000,132,5726000
168784,2531856,RESIDENTIAL,Single Family Residence,12 Stonecliff Lane,Sanford,27332,4,3,2017,5,2023,2023-09-12,2024-05-10,0.0,319999,3249999,241,2930000
168786,2485092,RESIDENTIAL,Single Family Residence,20 E Saint Andrews Drive,Zebulon,27597,3,3,2072,3,2023,2022-11-26,2024-05-15,0.0,366300,3269300,536,2903000
66276,2372641,RESIDENTIAL,Single Family Residence,2211 Wheeler Road,Raleigh,27607,5,8,9376,2,2022,2021-03-16,2022-02-23,0.0,1850000,3795000,344,1945000
113526,2410217,RESIDENTIAL,Single Family Residence,7241 Burlington Road,Whitsett,27377,5,7,6983,8,1883,2021-09-27,2023-01-09,102.0,1300000,3240000,469,1940000
26172,2375877,RESIDENTIAL,Single Family Residence,1129 Shoaf Stone,Wake Forest,27587,5,5,7200,7,2005,2021-04-05,2021-05-27,0.0,1800000,2900000,52,1100000
93825,2378933,RESIDENTIAL,Single Family Residence,1616 Hunting Ridge Road,Raleigh,27615,5,7,6289,3,2022,2021-04-20,2022-09-28,0.0,2550000,3577591,526,1027591
148322,2495996,RESIDENTIAL,Single Family Residence,1490 Olives Chapel Road,Apex,27502,4,6,7266,5,2023,2023-02-21,2023-11-21,0.0,1755900,2598548,273,842648
104029,2293916,RESIDENTIAL,Single Family Residence,106 Lochinvar Court,Cary,27511,5,6,7069,3,2022,2019-12-27,2022-12-30,0.0,2550000,3296301,1099,746301
80490,2448408,RESIDENTIAL,Single Family Residence,3424 Bellevue Road,Raleigh,27609,5,7,7004,3,1938,2022-05-11,2022-06-01,3.0,3500000,4200000,21,700000

In [59]:
# Edit the first occurrence of '6395000' in the 'Sold Price' column to '639500'
index = (combined_df['Sold Price'] == 6395000).idxmax()
combined_df.loc[index, 'Sold Price'] = 639500

# Edit the first occurrence of '3249999' in the 'Sold Price' column to '324999'
index = (combined_df['Sold Price'] == 3249999).idxmax()
combined_df.loc[index, 'Sold Price'] = 324999

# Edit the first occurrence of '3269300' in the 'Sold Price' column to '326930'
index = (combined_df['Sold Price'] == 3269300).idxmax()
combined_df.loc[index, 'Sold Price'] = 326930

# Recalculate the profit made on each house
combined_df['Profit'] = combined_df['Sold Price'] - combined_df['List Price']

# Sort the DataFrame by the 'Profit' column in descending order
combined_df=combined_df.sort_values('Profit', ascending=False)

combined_df

,MLS #,Class,Property Type,Address,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price,Days Between,Profit
66276,2372641,RESIDENTIAL,Single Family Residence,2211 Wheeler Road,Raleigh,27607,5,8,9376,2,2022,2021-03-16,2022-02-23,0.0,1850000,3795000,344,1945000
113526,2410217,RESIDENTIAL,Single Family Residence,7241 Burlington Road,Whitsett,27377,5,7,6983,8,1883,2021-09-27,2023-01-09,102.0,1300000,3240000,469,1940000
26172,2375877,RESIDENTIAL,Single Family Residence,1129 Shoaf Stone,Wake Forest,27587,5,5,7200,7,2005,2021-04-05,2021-05-27,0.0,1800000,2900000,52,1100000
93825,2378933,RESIDENTIAL,Single Family Residence,1616 Hunting Ridge Road,Raleigh,27615,5,7,6289,3,2022,2021-04-20,2022-09-28,0.0,2550000,3577591,526,1027591
148322,2495996,RESIDENTIAL,Single Family Residence,1490 Olives Chapel Road,Apex,27502,4,6,7266,5,2023,2023-02-21,2023-11-21,0.0,1755900,2598548,273,842648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93824,2433596,RESIDENTIAL,Single Family Residence,719 Weaver Dairy Road,Chapel Hill,27514,2,1,1214,7,1932,2022-02-26,2022-07-08,2.0,4300000,3550000,132,-750000
158135,2532421,RESIDENTIAL,Single Family Residence,7728 Grace Cove Lane,Wake Forest,27587,5,6,8767,8,2008,2023-09-15,2024-02-16,91.0,4900000,4080467,154,-819533
93827,2456529,RESIDENTIAL,Single Family Residence,223 Shady Drive,Burlington,27215,6,14,17988,5,1996,2022-06-17,2022-08-29,47.0,5900000,4702000,73,-1198000
138379,2357404,RESIDENTIAL,Single Family Residence,3319 White Oak Road,Raleigh,27609,6,11,20283,5,2000,2020-12-10,2023-08-15,931.0,4995000,3000000,978,-1995000
163560,10036327,RESIDENTIAL,Single Family Residence,1216 Caledon Drive,Mebane,27302,3,2,1860,1,2020,2024-04-22,2024-06-18,0.0,3837737,383737,57,-3454000

In [60]:
combined_df.sort_values('Profit', ascending=True)

,MLS #,Class,Property Type,Address,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price,Days Between,Profit
163560,10036327,RESIDENTIAL,Single Family Residence,1216 Caledon Drive,Mebane,27302,3,2,1860,1,2020,2024-04-22,2024-06-18,0.0,3837737,383737,57,-3454000
138379,2357404,RESIDENTIAL,Single Family Residence,3319 White Oak Road,Raleigh,27609,6,11,20283,5,2000,2020-12-10,2023-08-15,931.0,4995000,3000000,978,-1995000
93827,2456529,RESIDENTIAL,Single Family Residence,223 Shady Drive,Burlington,27215,6,14,17988,5,1996,2022-06-17,2022-08-29,47.0,5900000,4702000,73,-1198000
158135,2532421,RESIDENTIAL,Single Family Residence,7728 Grace Cove Lane,Wake Forest,27587,5,6,8767,8,2008,2023-09-15,2024-02-16,91.0,4900000,4080467,154,-819533
93824,2433596,RESIDENTIAL,Single Family Residence,719 Weaver Dairy Road,Chapel Hill,27514,2,1,1214,7,1932,2022-02-26,2022-07-08,2.0,4300000,3550000,132,-750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148322,2495996,RESIDENTIAL,Single Family Residence,1490 Olives Chapel Road,Apex,27502,4,6,7266,5,2023,2023-02-21,2023-11-21,0.0,1755900,2598548,273,842648
93825,2378933,RESIDENTIAL,Single Family Residence,1616 Hunting Ridge Road,Raleigh,27615,5,7,6289,3,2022,2021-04-20,2022-09-28,0.0,2550000,3577591,526,1027591
26172,2375877,RESIDENTIAL,Single Family Residence,1129 Shoaf Stone,Wake Forest,27587,5,5,7200,7,2005,2021-04-05,2021-05-27,0.0,1800000,2900000,52,1100000
113526,2410217,RESIDENTIAL,Single Family Residence,7241 Burlington Road,Whitsett,27377,5,7,6983,8,1883,2021-09-27,2023-01-09,102.0,1300000,3240000,469,1940000
66276,2372641,RESIDENTIAL,Single Family Residence,2211 Wheeler Road,Raleigh,27607,5,8,9376,2,2022,2021-03-16,2022-02-23,0.0,1850000,3795000,344,1945000

In [61]:
# Edit the first occurrence of '3837737' in the 'List Price' column to '383737'
index = (combined_df['List Price'] == 3837737).idxmax()
combined_df.loc[index, 'List Price'] = 383737

# Edit the first occurrence of '3249999' in the 'Sold Price' column to '324999'
index = (combined_df['Sold Price'] == 3249999).idxmax()
combined_df.loc[index, 'Sold Price'] = 324999

# Recalculate the profit made on each house
combined_df['Profit'] = combined_df['Sold Price'] - combined_df['List Price']

# Sort the DataFrame by the 'Profit' column in descending order
combined_df.sort_values('Profit', ascending=True)

,MLS #,Class,Property Type,Address,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,Days On Market,List Price,Sold Price,Days Between,Profit
138379,2357404,RESIDENTIAL,Single Family Residence,3319 White Oak Road,Raleigh,27609,6,11,20283,5,2000,2020-12-10,2023-08-15,931.0,4995000,3000000,978,-1995000
66276,2372641,RESIDENTIAL,Single Family Residence,2211 Wheeler Road,Raleigh,27607,5,8,9376,2,2022,2021-03-16,2022-02-23,0.0,1850000,324999,344,-1525001
93827,2456529,RESIDENTIAL,Single Family Residence,223 Shady Drive,Burlington,27215,6,14,17988,5,1996,2022-06-17,2022-08-29,47.0,5900000,4702000,73,-1198000
158135,2532421,RESIDENTIAL,Single Family Residence,7728 Grace Cove Lane,Wake Forest,27587,5,6,8767,8,2008,2023-09-15,2024-02-16,91.0,4900000,4080467,154,-819533
93824,2433596,RESIDENTIAL,Single Family Residence,719 Weaver Dairy Road,Chapel Hill,27514,2,1,1214,7,1932,2022-02-26,2022-07-08,2.0,4300000,3550000,132,-750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104029,2293916,RESIDENTIAL,Single Family Residence,106 Lochinvar Court,Cary,27511,5,6,7069,3,2022,2019-12-27,2022-12-30,0.0,2550000,3296301,1099,746301
148322,2495996,RESIDENTIAL,Single Family Residence,1490 Olives Chapel Road,Apex,27502,4,6,7266,5,2023,2023-02-21,2023-11-21,0.0,1755900,2598548,273,842648
93825,2378933,RESIDENTIAL,Single Family Residence,1616 Hunting Ridge Road,Raleigh,27615,5,7,6289,3,2022,2021-04-20,2022-09-28,0.0,2550000,3577591,526,1027591
26172,2375877,RESIDENTIAL,Single Family Residence,1129 Shoaf Stone,Wake Forest,27587,5,5,7200,7,2005,2021-04-05,2021-05-27,0.0,1800000,2900000,52,1100000
113526,2410217,RESIDENTIAL,Single Family Residence,7241 Burlington Road,Whitsett,27377,5,7,6983,8,1883,2021-09-27,2023-01-09,102.0,1300000,3240000,469,1940000

In [62]:
#Drop the MLS Number, Days On Market, and Class column
#combined_df = combined_df.drop('MLS #', axis=1) - This column is needed for the final output as a UID

#Drop Unnecessary Columns
combined_df = combined_df.drop('Days On Market', axis=1)
combined_df = combined_df.drop('Class', axis=1)
combined_df = combined_df.drop(columns=['Address'])

In [63]:
combined_df.head(10)

,MLS #,Property Type,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,List Price,Sold Price,Days Between,Profit
66276,2372641,Single Family Residence,Raleigh,27607,5,8,9376,2,2022,2021-03-16,2022-02-23,1850000,324999,344,-1525001
113526,2410217,Single Family Residence,Whitsett,27377,5,7,6983,8,1883,2021-09-27,2023-01-09,1300000,3240000,469,1940000
26172,2375877,Single Family Residence,Wake Forest,27587,5,5,7200,7,2005,2021-04-05,2021-05-27,1800000,2900000,52,1100000
93825,2378933,Single Family Residence,Raleigh,27615,5,7,6289,3,2022,2021-04-20,2022-09-28,2550000,3577591,526,1027591
148322,2495996,Single Family Residence,Apex,27502,4,6,7266,5,2023,2023-02-21,2023-11-21,1755900,2598548,273,842648
104029,2293916,Single Family Residence,Cary,27511,5,6,7069,3,2022,2019-12-27,2022-12-30,2550000,3296301,1099,746301
80490,2448408,Single Family Residence,Raleigh,27609,5,7,7004,3,1938,2022-05-11,2022-06-01,3500000,4200000,21,700000
137710,2508624,Single Family Residence,Raleigh,27610,3,2,1450,5,1958,2023-05-03,2023-09-11,249900,850000,131,600100
148321,2428206,Single Family Residence,Apex,27523,4,5,6864,6,2022,2022-01-24,2023-12-18,2000000,2566043,693,566043
40849,2387466,Single Family Residence,Snow Camp,27349,3,4,4689,8,2003,2021-06-03,2021-07-15,1500000,2050000,42,550000

In [64]:

combined_df['Property Type'].unique()

array(['Single Family Residence', 'Condo', 'Manufactured', 'Townhouse',
       'Triplex', 'Duplex', 'Ranch', 'Other', 'Farm', 'Cabin',
       'Quadruplex'], dtype=object)

In [65]:
# Initialize pgeocode Nominatim object for the United States
nomi = pgeocode.Nominatim('us')

# Function to get latitude and longitude
def get_lat_long(zip_code):
    location = nomi.query_postal_code(zip_code)
    return location.latitude, location.longitude

# Apply the function to each zip code
combined_df[['latitude', 'longitude']] = combined_df['Zip'].apply(lambda x: pd.Series(get_lat_long(x)))

combined_df

,MLS #,Property Type,City,Zip,Bedrooms,Total Baths,Total Living Area SqFt,Acres,Year Built,List Date,Closing Date,List Price,Sold Price,Days Between,Profit,latitude,longitude
66276,2372641,Single Family Residence,Raleigh,27607,5,8,9376,2,2022,2021-03-16,2022-02-23,1850000,324999,344,-1525001,35.8014,-78.6877
113526,2410217,Single Family Residence,Whitsett,27377,5,7,6983,8,1883,2021-09-27,2023-01-09,1300000,3240000,469,1940000,36.0330,-79.5972
26172,2375877,Single Family Residence,Wake Forest,27587,5,5,7200,7,2005,2021-04-05,2021-05-27,1800000,2900000,52,1100000,35.9815,-78.5392
93825,2378933,Single Family Residence,Raleigh,27615,5,7,6289,3,2022,2021-04-20,2022-09-28,2550000,3577591,526,1027591,35.8887,-78.6393
148322,2495996,Single Family Residence,Apex,27502,4,6,7266,5,2023,2023-02-21,2023-11-21,1755900,2598548,273,842648,35.7225,-78.8408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93824,2433596,Single Family Residence,Chapel Hill,27514,2,1,1214,7,1932,2022-02-26,2022-07-08,4300000,3550000,132,-750000,35.9203,-79.0372
158135,2532421,Single Family Residence,Wake Forest,27587,5,6,8767,8,2008,2023-09-15,2024-02-16,4900000,4080467,154,-819533,35.9815,-78.5392
93827,2456529,Single Family Residence,Burlington,27215,6,14,17988,5,1996,2022-06-17,2022-08-29,5900000,4702000,73,-1198000,36.0318,-79.4889
138379,2357404,Single Family Residence,Raleigh,27609,6,11,20283,5,2000,2020-12-10,2023-08-15,4995000,3000000,978,-1995000,35.8480,-78.6317
163560,10036327,Single Family Residence,Mebane,27302,3,2,1860,1,2020,2024-04-22,2024-06-18,383737,383737,57,0,36.0979,-79.2719

In [66]:
#Change the 'Latitude' column name to 'Lat'
combined_df = combined_df.rename(columns={"latitude": "Lat"})

#Change the 'Longitude' column name to 'Lon'
combined_df = combined_df.rename(columns={"longitude": "Lon"})

#Change the 'Total Living Area SqFt' column name to 'SqFt'
combined_df = combined_df.rename(columns={"Total Living Area SqFt": "SqFt"})

#Change the 'Profit' column name to 'Over Asking'  
combined_df = combined_df.rename(columns={"Profit": "Over Asking"})

#Change the 'Days Between' column name to 'Days on Market'
combined_df = combined_df.rename(columns={"Days Between": "Days on Market"})


combined_df.head()

,MLS #,Property Type,City,Zip,Bedrooms,Total Baths,SqFt,Acres,Year Built,List Date,Closing Date,List Price,Sold Price,Days on Market,Over Asking,Lat,Lon
66276,2372641,Single Family Residence,Raleigh,27607,5,8,9376,2,2022,2021-03-16,2022-02-23,1850000,324999,344,-1525001,35.8014,-78.6877
113526,2410217,Single Family Residence,Whitsett,27377,5,7,6983,8,1883,2021-09-27,2023-01-09,1300000,3240000,469,1940000,36.0330,-79.5972
26172,2375877,Single Family Residence,Wake Forest,27587,5,5,7200,7,2005,2021-04-05,2021-05-27,1800000,2900000,52,1100000,35.9815,-78.5392
93825,2378933,Single Family Residence,Raleigh,27615,5,7,6289,3,2022,2021-04-20,2022-09-28,2550000,3577591,526,1027591,35.8887,-78.6393
148322,2495996,Single Family Residence,Apex,27502,4,6,7266,5,2023,2023-02-21,2023-11-21,1755900,2598548,273,842648,35.7225,-78.8408

In [67]:
combined_df.isnull().sum()

MLS #               0
Property Type       0
City                0
Zip                 0
Bedrooms            0
Total Baths         0
SqFt                0
Acres               0
Year Built          0
List Date           0
Closing Date        0
List Price          0
Sold Price          0
Days on Market      0
Over Asking         0
Lat               139
Lon               139
dtype: int64

In [68]:
#Drop the rows with missing values
combined_df.dropna(inplace=True)

combined_df.isnull().sum()

MLS #             0
Property Type     0
City              0
Zip               0
Bedrooms          0
Total Baths       0
SqFt              0
Acres             0
Year Built        0
List Date         0
Closing Date      0
List Price        0
Sold Price        0
Days on Market    0
Over Asking       0
Lat               0
Lon               0
dtype: int64

In [69]:
# Count the number of 0 values in the 'Lat' and 'Lon' columns
num_zeros = combined_df['Lon'].value_counts().get(0, 0)

print(num_zeros)

0

#### Add Mortgage Rates to dataframe

In [72]:
# read all the mortage data from the CSV File
mortageweekly_df = pd.read_excel("./Data/weekly_mortgage_rates.xlsx",
                                 parse_dates=True
                                 )
mortageweekly_df.head()

ValueError: 'Week' is not in list (sheet: 0)

In [ ]:
# Get the morrtgage data from 2021 to 2014 
mortageweekly_df_sliced = mortageweekly_df.loc['2021-01-01':'2024-06-27']

#drop unwanted columns
mortageweekly_df_sliced.drop(columns=['30 years points','15 years FRM','15 years points','ARM','ARM points','margin','spread'],inplace=True)

mortageweekly_df_sliced.plot(figsize=[10,5])

In [ ]:
# add a column of week and year
mortageweekly_df_sliced["week-year"] = mortageweekly_df_sliced.index.year.astype(str) + mortageweekly_df_sliced.index.isocalendar().week.astype(str)
mortageweekly_df_sliced.head()

In [ ]:
# add week-year column in the combined_df to join on
combined_df["week-year"] = combined_df['List Date'].dt.year.astype(str) + combined_df['List Date'].dt.isocalendar().week.astype(str)
combined_df.head()

In [ ]:
#merge mortageweekly_df_sliced and single_family_residence_3_2 on week year column
realeastate_df = pd.merge(mortageweekly_df_sliced,combined_df,on="week-year",how="inner")

In [319]:
# Save the DataFrame to a CSV file
realeastate_df.to_csv('Clean_Data/mls_cleaned.csv', index=False)